<html><head><link rel="stylesheet" href="/css/homestyle.css" type="text/css">


    <!--include link to javascript here for help email willem-dejong@uiowa.edu-->
    <title>IowaAir</title>
    <link rel="icon" href="/img/Logo1465.png">
    <link rel="stylesheet" href="/css/upplane.css" type="text/css">
    <link rel="stylesheet" href="/css/login.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/md5.js"></script>
    <script type="text/javascript" src="/js/logsess.js"></script>
    <script type="text/javascript" src="/js/upplane.js"></script>
</head>
<body>
    <div id="hdr">
         <div id="home">
                <a id="homel" href="/"><img id="logo" src="/img/Logo1465.png"><img id="namelogo" src="/img/NameLogo.png"></a>
         </div>
        
        <div id="log">
            <a href="javascript:void(0)" id="loginlink" onclick="createloginbox();">login</a>/<a href="/registration">register</a>
        </div>
        
</div>
     <div id="main">
        <img id="backimg" src="/img/corn.jpg">
         <br>
         <br>
         <div id="upbox">
  <div id="uphead">Update Planes</div>
<form id="uppform">
  <div id="tbl">
    <table>
      <tr>
  		  <th>
          <div>Plane ID</div>
  		  </th>
  		  <th>
          <div>Model</div>
  		  </th>
  		  <th>
          <div># Ec seats</div>
  		  </th>
        <th>
          <div># Fc seats</div>
  		  </th>
      </tr>
      <tr id="r0">
  		  <td>
          <input type="text" id="pidcrit"/>
  		  </td>
  		  <td>
          <input id="modelcrit"/>
  	    </td>
  		  <td>
          <input id="ecnumcrit" type="number" min="0"/>
  	    </td>
  		  <td>
          <input id="fjcnumcrit" type="number" min="0"/>
  		  </td>
        <td>
          <input id="searchbutton" type="button" value="SEARCH" />
        </td>
      </tr>

      
      <% for (var i in planes) { %>
          <tr id = <%="r"+String(i+1)%>>
            <td>
              <input class = "pidEdit" value = <%= planes[i].pid %> />
            </td>
            <td>
              <input class = "modelEdit" value = <%= planes[i].model %> />
            </td>
            <td>
              <input class = "ecnumEdit" value = <%= planes[i].ecnum %> />
            </td>
            <td>
              <input class = "fjcnumEdit" value = <%= planes[i].fjcnum %> />
            </td>
            <td>
              <input class="updatebutton" type="button" value="UPDATE" onclick="updateSingle(this)" />
            </td>
      <%}%>

      
 
    </table>
    <br>
    <div id="updateallbuttondiv">
      <button id="updateallbutton" class = "btnExample" type="button" onclick="updateAll(this)" >UPDATE ALL</button>
    </div>
  </div>
</form>
  
</div></div>

</body></html>