<html><head><link rel="stylesheet" href="/css/homestyle.css" type="text/css">


    <!--include link to javascript here for help email willem-dejong@uiowa.edu-->
    <title>IowaAir</title>
    <link rel="icon" href="/img/Logo1465.png">
    <link rel="stylesheet" href="/css/upflight.css" type="text/css">
    <link rel="stylesheet" href="/css/login.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/md5.js"></script>
    <script type="text/javascript" src="/js/logsess.js"></script>
    <script type="text/javascript" src="/js/upflight.js"></script>
</head>
<body>
<div id="hdr">
    <div id="home">
        <a id="homel" href="/"><img id="logo" src="/img/Logo1465.png"><img id="namelogo" src="/img/NameLogo.png"></a>
    </div>

    <div id="log">
        <a href="javascript:void(0)" id="loginlink" onclick="createloginbox();">login</a>/<a href="/registration">register</a>
    </div>

</div>
<div id="main">
    <img id="backimg" src="/img/corn.jpg">
    <br>
    <br>
    <div id="upbox">
        <div id="uphead">Update Flights</div>
        <form id="uppform">
            <div id="tbl">
                <table>
                    <tr>
                        <th>
                            <div>Flight ID</div>
                        </th>
                        <th>
                            <div>Flight #</div>
                        </th>
                        <th>
                            <div>Gate</div>
                        </th>
                        <th>
                            <div>Plane ID</div>
                        </th>
                        <th>
                            <div>Dep. Date</div>
                        </th>
                        <th>
                            <div>Dep. Time</div>
                        </th>
                        <th>
                            <div>Dep. Loc.</div>
                        </th>
                        <th>
                            <div>Ar. Date</div>
                        </th>
                        <th>
                            <div>Ar. Time</div>
                        </th>
                        <th>
                            <div>Ar. Loc.</div>
                        </th>
                        <th>
                            <div>EC Seats Avail</div>
                        </th>
                        <th>
                            <div>EC Seats Bk'd</div>
                        </th>
                        <th>
                            <div>EC $/seat</div>
                        </th>
                        <th>
                            <div>FC Seats Avail</div>
                        </th>
                        <th>
                            <div>FC Seats Bk'd</div>
                        </th>
                        <th>
                            <div>FC $/seat</div>
                        </th>
                    </tr>

                    <tr id="r0">
                        <td>
                            <input class="bigBox" id="flightID"/>
                        </td>
                        <td>
                            <input class="bigBox" id="flightNum"/>
                        </td>
                        <td>
                            <input class ="smallBox" id="gate"/>
                        </td>
                        <td>
                            <input class="bigBox" id="planeID"/>
                        </td>
                        <td>
                            <input class="medBox" id="dDate" type="date"/>
                        </td>
                        <td>
                            <input id="dTime" type="time"/>
                        </td>
                        <td>
                            <input class="smallBox" list="lports" id="dLoc"/>

                        </td>
                        <td>
                            <input class="medBox" id="aDate" type="date"/>
                        </td>
                        <td>
                            <input id="aTime" type="time"/>
                        </td>
                        <td>
                            <input class="smallBox" list="lports" id="aLoc"/>
                        </td>
                        <td>
                            <input class ="smallBox" id="ECAvail" type="number" min="0"/>
                        </td>
                        <td>
                            <input class ="smallBox" id="ECBooked" type="number" min="0"/>
                        </td>
                        <td>
                            <input class ="smallBox" id="ECCost" type="number" min="0"/>
                        </td>
                        <td>
                            <input class ="smallBox" id="FCAvail" type="number" min="0"/>
                        </td>
                        <td>
                            <input class ="smallBox" id="FCBooked" type="number" min="0"/>
                        </td>
                        <td>
                            <input class ="smallBox" id="FCCost" type="number" min="0"/>
                        </td>
                        <td>
                            <input id="searchButton" type="submit" value="Search" onclick=""/>
                        </td>
                    </tr>
                    <% for(var i=0; i<flights.length; i++) {%>
                        <tr id=<%="r"+String(i+1) %>>
                            <td>
                                <input class="flightIDEdit bigBox" disabled value= <%= flights[i].flightID %>>
                            </td>
                            <td>
                                <input class="flightNumEdit bigBox" value= <%= flights[i].flight_num %>>
                            </td>
                            <td>
                                <input class="gateEdit smallBox" value= <%= flights[i].gate %>>
                            </td>
                            <td>
                                <input class="planeIDEdit bigBox" value= <%= flights[i].plane_id %>>
                            </td>

                            <%var year=flights[i].departure_time.getFullYear()%>
                            <%var month=flights[i].departure_time.getMonth() + 1%>
                            <% if (month<10){%>
                                <%month = "0" + String(month);%>
                            <%}else{%>
                                <%month = String(month);%>
                            <%}%>
                            <%var date=flights[i].departure_time.getDate()%>
                            <% if (date<10){%>
                                <%date = "0" + String(date);%>
                            <%}else{%>
                                <%date = String(date);%>
                            <%}%>

                            <%var sDate = String(year)+"-"+month+"-"+date%>
                            <td>
                                <input class="dDateEdit medBox" type="date" value= <%= sDate %>>
                            </td>

                            <%var hour=flights[i].departure_time.getHours()%>
                            <% if (hour<10){%>
                                <%hour = "0" + String(hour);%>
                            <%}else{%>
                                <%hour = String(hour);%>
                            <%}%>
                            <%var minute=flights[i].departure_time.getMinutes()%>
                            <% if (minute<10){%>
                                <%minute = "0" + String(minute);%>
                            <%}else{%>
                                <%minute = String(minute);%>
                            <%}%>
                            <%var sTime = String(hour)+":"+minute%>

                            <td>
                                <input class="dTimeEdit" type="time" value= <%= sTime %>>
                            </td>
                            <td>
                                <input class="dLocEdit smallBox" list="lports" value= <%= flights[i].origin %>>
                            </td>

                            <% year=flights[i].arrival_time.getFullYear()%>
                            <% month=flights[i].arrival_time.getMonth() + 1%>
                            <% if (month<10){%>
                                <%month = "0" + String(month);%>
                            <%}else{%>
                                <%month = String(month);%>
                            <%}%>
                            <% date=flights[i].arrival_time.getDate()%>
                            <% if (date<10){%>
                                <%date = "0" + String(date);%>
                            <%}else{%>
                                <%date = String(date);%>
                            <%}%>

                            <% sDate = String(year)+"-"+month+"-"+date%>

                            <td>
                                <input class="aDateEdit medBox" type="date" value= <%= sDate %>>
                            </td>

                            <% hour=flights[i].arrival_time.getHours()%>
                            <% if (hour<10){%>
                                <%hour = "0" + String(hour);%>
                            <%}else{%>
                                <%hour = String(hour);%>
                            <%}%>

                            <% minute=flights[i].arrival_time.getMinutes()%>
                            <% if (minute<10){%>
                                <%minute = "0" + String(minute);%>
                            <%}else{%>
                                <%minute = String(minute);%>
                            <%}%>
                            <% sTime = hour+":"+minute%>


                            <td>
                                <input class="aTimeEdit" type="time" value= <%= sTime %> >
                            </td>
                            <td>
                                <input class="aLocEdit smallBox" list="lports" value= <%= flights[i].destined %>>
                            </td>
                            <td>
                                <input class="ECAvailEdit smallBox" type="number" min="0" value= <%= flights[i].ec_seats_available %>>
                            </td>
                            <td>
                                <input class="ECBookedEdit smallBox" type="number" min="0" value= <%= flights[i].ec_seats_booked %>>
                            </td>
                            <td>
                                <input class="ECCostEdit smallBox" type="number" min="0" value= <%= flights[i].ec_cost_per_seat %>>
                            </td>
                            <td>
                                <input class="FCAvailEdit smallBox" type="number" min="0" value= <%= flights[i].fc_seats_available %>>
                            </td>
                            <td>
                                <input class="FCBookedEdit smallBox" type="number" min="0" value= <%= flights[i].fc_seats_booked %>>
                            </td>
                            <td>
                                <input class="FCCostEdit smallBox" type="number" min="0" value= <%= flights[i].fc_cost_per_seat %>>
                            </td>
                            <td>
                                <input class="updateButton" type="button" value="Update" onclick="updateRow(this)"/>
                            </td>
                        </tr>
                    <% } %>

                </table>

                <datalist id="lports">
                    <% for(var i in ports){ %>
                    <%var port=ports[i]%>
                    <option id=<%=port["portid"]%> value=<%=port["portid"]%>><%=port["airport"]%></option>
                    <%}%>
                </datalist>

            </div>
            <div style="text-align: center;">
                <button id="updateAllButton" class="btnExample" type="button" value="Submit"/>Update All</button>
            </div>
            <br>
        </form>

    </div></div>

</body></html>