<html>
	<head>
		<title>IowaAir</title>
        <link rel="icon" href="/img/Logo1465.png">
        <link rel="stylesheet" href="/css/book.css" type="text/css">
        <link rel="stylesheet" href="/css/login.css" type="text/css">
        <link rel="stylesheet" href="/css/resultstyle.css" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script type="text/javascript" src="/js/md5.js"></script>
        <script type="text/javascript" src="/js/logsess.js"></script>
        <script type="text/javascript" src="/js/book.js"></script>
	</head>
	<body>
		<% include partial/hdr %>
		<div id="main">
			<img id="backimg" src="/img/corn.jpg">
			
			<div id = "registration">
			 <div id = "registrationhead"> BOOK FLIGHT </div>
			 <% if(user.type == "G") { %>
			 	<label style="color:red;font-size:500%;">Please log in to proceed </label>
			 <% }else { %>
			 	<ul id="resultlist" to = "<%=toTrip.flightIDs%>" passnum = "<%=pass%>"  <% if(returnTrip){ %>
			 		 return = "<%=returnTrip.flightIDs%>"
			 		 <% if (returnTrip.has_ec){ %>
			 		 	class2 = "ec"
			 		 <% }else { %>
			 		 	class2 = "fc"
			 		 <% } %>
			 	<% }else { %>
			 		 return = null
			 		 class2 = null
			 	<% } %> 
			 	<% if(toTrip.has_ec){ %>
			 		class1 = "ec"
			 	<% }else { %>
			 		class1 = "fc"
			 	<% } %>

			 	>

			 	<%var tobook=true%>
                <%var mode=0%>
                <%var trip=toTrip%>
                <%var mapid="map1"%>
                <% include partial/tripitem %>

                <% if(returnTrip) { %>
                	<%var trip=returnTrip %>
                <%var mapid="map2"%>
                	<% include partial/tripitem %>
                <% } %>
                </ul>
                     <script> function initMap() {
                                var iowacity = {lat: 41.661128,lng: -101.530168}
                                var map1 = new google.maps.Map(document.getElementById('map1'), {
                                  zoom: 3,
                                  center: iowacity,
                                  mapTypeId: 'terrain'
                                });
                                var marker = new google.maps.Marker({
                                  position: {lat:<%=toTrip.path[0].lat%>,lng:<%=toTrip.path[0].lng%>},
                                  map: map1
                                });
                                <%for(var ii=0; ii<toTrip.path.length-1; ii++) {%>
                                    var flightpath = [{lat: <%=toTrip.path[ii].lat%>,lng: <%=toTrip.path[ii].lng%>},{lat: <%=toTrip.path[ii+1].lat%>,lng: <%=toTrip.path[ii+1].lng%>}];
                                    var marker = new google.maps.Marker({
                                        position: {lat: <%=toTrip.path[ii+1].lat%>,lng: <%=toTrip.path[ii+1].lng%>},
                                        map: map1
                                    });
                                    var flightPath = new google.maps.Polyline({
                                            path: flightpath,
                                            geodesic: true,
                                            strokeColor: '#FF0000',
                                            strokeOpacity: 1.0,
                                            strokeWeight: 2
                                          });
                                          
                                          flightPath.setMap(map1);
                                <%}%>
                                <%if(returnTrip){%>
                                     var map2 = new google.maps.Map(document.getElementById('map2'), {
                                      zoom: 3,
                                      center: iowacity,
                                      mapTypeId: 'terrain'
                                    });
                                    var marker = new google.maps.Marker({
                                      position: {lat:<%=returnTrip.path[0].lat%>,lng:<%=returnTrip.path[0].lng%>},
                                      map: map2
                                    });
                                    <%for(var ii=0; ii<fromTrips[i].path.length-1; ii++) {%>
                                        var flightpath = [{lat: <%=returnTrip.path[ii].lat%>,lng: <%=returnTrip.path[ii].lng%>},{lat: <%=returnTrip.path[ii+1].lat%>,lng: <%=returnTrip.path[ii+1].lng%>}];
                                        var marker = new google.maps.Marker({
                                            position: {lat: <%=returnTrip.path[ii+1].lat%>,lng: <%=returnTrip.path[ii+1].lng%>},
                                            map: map2
                                        });
                                        var flightPath = new google.maps.Polyline({
                                                path: flightpath,
                                                geodesic: true,
                                                strokeColor: '#FF0000',
                                                strokeOpacity: 1.0,
                                                strokeWeight: 2
                                              });
                                              
                                              flightPath.setMap(map2);
                                    <%}%>
                                <%}%>

                              }
                              </script>
                            <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCAJ1nc1IYhRTgZXigJYWFEF2AuOTZQrtA&callback=initMap">
                           
                            </script>
                <div id="totalPriceDisplay">
	                <% var totalPrice = 0 %>
	                <% if(toTrip.has_ec){ %>
	                	<% totalPrice += toTrip.tot_ec_price %>
	                <% }else { %>
	                	<% totalPrice += toTrip.tot_fc_price %>
	                <% } %>
	                <% if(returnTrip) { %>
	                	<% if(returnTrip.has_ec) { %>
	                		<% totalPrice += returnTrip.tot_ec_price %>
	                	<% }else { %>
	                		<% totalPrice += returnTrip.tot_fc_price %>
	                	<% } %>
	                <% } %> 

	                <label>TOTAL PRICE: $<%=totalPrice%></label> 
                </div>
			 
				 	<form id="passengerform">

				 		<% var passengerNumber = 1 %>

						<% for(var i=0; i<pass; i++) {%>
							<% include partial/passenger %>

							<% passengerNumber += 1%>
						<% } %>

						<br>

						<h3>CREDIT CARD INFO</h3>
						<div class="lidiv">
							<label class="lab" id="labccnum" for="creditnumin">Credit Card #</label>
							<input class="inp" id="ccnum" type="text" name="creditnumin" form="passengerform"/>
						</div>

						<div class="lidiv">
							<label class="lab" id="labcsnum" for="securitycodein">Security Code</label>
							<input class="inp" id="csnum" type="text" name="securitycodein" form="passengerform"/>
						</div>
						<br>
						<div class="lidiv">
							<label class="lab" id="labcedate" for="creditexpdatein">Exp. Date</label>
							<input class="inp" id="cedate" type="text" name="creditexpdatein" form="passengerform"/>
						</div>

						<div class="lidiv">
							<label class="lab" id="labcfname" for="creditfnamein">First Name</label>
							<input class="inp" id="cfname" type="text" name="creditfnamein" form="passengerform"/>
						</div>

						<div class="lidiv">
							<label class="lab" id="labclname" for="creditlnamein">Last Name</label>
							<input class="inp" id="clname" type="text" name="creditlnamein" form="passengerform"/>
						</div>

						<div class="lidiv">
							<label class="lab" id="labcaddress" for="creditaddressin">Billing Address</label>
							<input class="inp" id="caddress" type="text" name="creditaddressin" form="passengerform"/>
						</div>

						<br>

						<div id="bookDiv" style="text-align: center; ><button id="bookbutton" class = "bookbutton" type="button" onclick="confirmBook(this)" >BOOK</button></div>

						<div id="invalidInput" style="display: none ;font-size:50%; color:red"align="center">*Some information is missing or incorrect</div>

						<div id="confirmDiv"  style="display: none" align="center"><button type="button" class = "bookbutton" onclick="book(this)">ARE YOU SURE?</button></div>
				 	
					</form>

				<% } %>
			</div>

		</div>

	</body>
</html>