<!DOCTYPE HTML>
<link rel="stylesheet" href="/css/homestyle.css" type="text/css">
<html>
<head>
    <!--include link to javascript here for help email willem-dejong@uiowa.edu-->
    <title>IowaAir</title>
    <link rel="icon" href="/img/Logo1465.png" />
    <link rel="stylesheet" href="/css/homestyle.css" type="text/css"/>
    <link rel="stylesheet" href="/css/login.css" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/md5.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
    <script type="text/javascript" src="/js/logsess.js"></script>
</head>
<body>
    <% include partial/hdr %>
     <div id="main">
        <img id="backimg" src="/img/corn.jpg" />
         <br/>
         <br/>
         <div id="que">
             <div id="qhead">
                 Search Flights
             </div>
             <form id="quein">
                <div id="missReq" style="display: none; color: red"> - One or more required fields are empty or incorrect * </div>
                <div id="dateErr" style="display: none; color: red"> - Return Date can not be earlier than Depart Date  nor can you book in the past* </div>
                <div id="portErr" style="display: none; color: red"> - Not a valid airport*</div>
                <div id="portErr2" style="display: none; color: red"> - Can't fly from and to the same airport*</div>
                 <div id="ports">
                     <div id="orgport">
                        <label id="orglab" for="org">From*</label>
                        <input list="lports"id="org" name="org" form="quein"/>
                     </div>
                     <div id="destport">
                        <label id="destlab" for="dest">To*</label>
                        <input list="lports" id="dest" name="dest" form="quein"/>
                     </div>
                 </div>
                <datalist id="lports">
                    <% for(var i in ports){ %>
                    <%var port=ports[i]%>
                    <option id=<%=port["portid"]%> value=<%=port["portid"]%>><%=port["airport"]%></option>
                    <%}%>
                </datalist>
                <div class="dates">
                    <div class="dated">
                        <label id="datelab" for="date">Depart Date*</label>
                        <input type="date" id="date" class="date" name="date" form="quein"  placeholder="YYYY-MM-DD"/>
                    </div>
                    <div class="dated">
                        <label id="date2lab" for="date2">Return Date</label>
                        <input type="date" id="date2" class="date" name="date2" form="quein"   placeholder="YYYY-MM-DD"/>
                    </div>
                </div>
                <div class="passd">
                    <label for="pass"># of Passengers</label>
                    <input type="number" id="pass" name="pass" value=1 min=1 form="quein"  placeholder="#>0">
                </div>
                <!--see https://www.formget.com/javascript-submit-form/ for making the javascript client side javascript!-->
                <input type="button" value="Search" id="but" onclick="verifyAndSubmit();" /><!--for Javascript change this input in the html! make type="button", and add onclick="verifyAndSubmit(this.parentElement)"! verifyAndSubmit should verify that the required feilds are filled and if they are then submit the form, if not change the unfilled fields' labels' text red-->
                <div id="req">*Required.<br/>leave return date empty for one way trip.</div>
             </form>
         </div>
        <br>
        <br>
        <br>
         <div id="que2">
             <div id="qhead2">
                 Search Flights With Map
             </div>
             <div id="quein2">
                <div id="missReqb" style="display: none; color: red"> - One or more required fields are empty or incorrect * </div>
                <div id="dateErrb" style="display: none; color: red"> - Return Date can not be earlier than Depart Date  nor can you book in the past* </div>
                <div id="portErrb" style="display: none; color: red"> - Please select 2 to 4 airports on map*</div>
                <div id="map">
                </div>
                <div class="dates">
                    <div class="dated">
                        <label id="datelabb" for="dateb">Depart Date*</label>
                        <input type="date" id="dateb" class="date" name="dateb"  placeholder="YYYY-MM-DD"/>
                    </div>
                    <div class="dated">
                        <label id="date2labb" for="date2b">Return Date</label>
                        <input type="date" id="date2b" class="date" name="date2b"  placeholder="YYYY-MM-DD"/>
                    </div>
                </div>
                <div class="passd">
                    <label for="passb"># of Passengers</label>
                    <input type="number" id="passb" name="passb" value=1 min=1   placeholder="#>0">
                </div>
                <input type="button" value="Search" id="butb" onclick="verifyAndSubmit2();" /><!--for Javascript change this input in the html! make type="button", and add onclick="verifyAndSubmit(this.parentElement)"! verifyAndSubmit should verify that the required feilds are filled and if they are then submit the form, if not change the unfilled fields' labels' text red-->
                <div id="req">*Required.<br/>leave return date empty for one way trip.</div>
                <script>
                        var flights=[];
                        var paths=[];
                        function initialize() {
                          var map = new google.maps.Map(document.getElementById('map'), {
                            zoom: 3,
                            center: {lat: 41.661128,lng: -101.530168}
                          });

                          // Add a marker at the center of the map.
                        <%for (i in ports){%>
                          addMarker({lat:<%=ports[i].lat%>,lng:<%=ports[i].lon%>},"<%=ports[i].portid%>","<%=ports[i].airport%>","<%=ports[i].location%>", map);
                          <%}%>
                        }

                        // Adds a marker to the map.
                        function addMarker(location,lab,nam,loc, map) {
                          var contentString = '<div id="content">'+
                              '<div id="siteNotice">'+
                              '</div>'+
                              '<h1 id="firstHeading" class="firstHeading">'+lab+'</h1>'+
                              '<div id="bodyContent">'+
                              nam+
                              '<br>'+
                              loc+
                              '</div>'+
                              '</div>'

                          var infowindow = new google.maps.InfoWindow({
                            content: contentString
                          });
                          var marker = new google.maps.Marker({
                            position: location,
                            label: lab,
                            map: map,
                            icon:'http://localhost/img/cornP.png'
                          });
                          marker.addListener('mouseover', function() {
                            infowindow.open(map, marker);
                          });
                          marker.addListener('mouseout', function() {
                            infowindow.close();
                          });
                          var  flightPath;
                          marker.addListener('click', function() {
                          	if (flights.indexOf(lab)==-1&&flights.length<4){
                                flights.push(lab);
                        	   paths.push(location);
                                if(paths.length>1){
                                        flightPath= new google.maps.Polyline({
                                        path: [paths[paths.length-2],paths[paths.length-1]],
                                        geodesic: true,
                                        strokeColor: '#FF0000',
                                        strokeOpacity: 1.0,
                                        strokeWeight: 2
                                      });
                                      flightPath.setMap(map);
                                }
                                marker.setIcon('http://localhost/img/cornP2.png')
                            }
                            else if(flights.indexOf(lab)==flights.length-1){
                            	flights.pop();
                        		paths.pop();
                                    if(flightPath){
                                     flightPath.setMap(null);
                                     }
                            	marker.setIcon('http://localhost/img/cornP.png')
                            }
                          });
                        }
                        google.maps.event.addDomListener(window, 'load', initialize);
               </script>
               <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCAJ1nc1IYhRTgZXigJYWFEF2AuOTZQrtA&callback=initialize">
                </script>
             </div>
         </div>
        <br>
        <br>
        <br>
     </div>
</body>
</html>