<html>
    <head>
        <title>IowaAir</title>
        <link rel="icon" href="/img/lolo.pgn" />
        <link rel="stylesheet" href="/css/login.css" type="text/css">
        <link rel="stylesheet" href="/css/resultstyle.css" type="text/css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script type="text/javascript" src="/js/logsess.js"></script>
        <script type="text/javascript" src="/js/md5.js"></script>
        <script type="text/javascript" src="/js/result.js"></script>
        <script type="text/javascript" src="/js/tripitem.js"></script>
    </head>
    <body>
    <% include partial/hdr %>
    <div id="main" pass=<%=pass%>>
        <img id="backimg" src="/img/corn.jpg" />
            <br>
            <br>
            <ul id="twoway">
            </ul>
            <br>
            <div id="result">
                <div id="resulthdr">
                    <div id="restext">
                        Results
                    </div>
                    <div id="order">
                        <label for="orderby">Order By</label>
                        <select name="orderby" id="orderby" onchange="sortby(this[this.selectedIndex].value)">
                            <option value="ec_price">EC Price</option>
                            <option value="fc_price">FC Price</option>
                            <option value="nstops">Num. of stops</option>
                            <option value="tottime">Flight time</option>
                            <option value="dept-time">depart time</option>
                            <option value="arrive-time">arrival time</option>
                        </select>
                    </div>
                </div>
                <ul id="resultlist">
                    <%if(toTrips.length==0){%>
                        <li class="resultitem">
                            Sorry no Flights found. Please try different Search parameters.
                        </li>
                    <%}else{%>
                        <%var tobook=false;%>
                        <%var mode=twoway;%>
                        <%for (i in toTrips){%>
                        <%var mapid="to"+i%>
                            <%var trip=toTrips[i];%>
                            <% include partial/tripitem %>
                        <%}%>
                    <%}%>
                </ul>
                <ul id="resultlist_return">
                    <%if(fromTrips.length==0){%>
                        <li class="resultitem">
                            Sorry no Flights found. Please try different Search parameters.
                        </li>
                    <%}else{%>
                        <%var tobook=false;%>
                        <%var mode=false;%>
                        <%for (i in fromTrips){%>
                        <%var mapid="ret"+i%>
                            <%var trip=fromTrips[i];%>
                            <% include partial/tripitem %>
                        <%}%>
                    <%}%>
                </ul>
                <script> function initMap() {
                                var iowacity = {lat: 41.661128,lng: -101.530168}
                                <%for (i in toTrips){%>
                                    var <%="to"+i%> = new google.maps.Map(document.getElementById('<%="to"+i%>'), {
                                      zoom: 3,
                                      center: iowacity,
                                      mapTypeId: 'terrain'
                                    });
                                    var marker = new google.maps.Marker({
                                      position: {lat:<%=toTrips[0].path[0].lat%>,lng:<%=toTrips[0].path[0].lng%>},
                                      map: <%="to"+i%>
                                    });
                                    <%for(var ii=0; ii<toTrips[i].path.length-1; ii++) {%>
                                        var flightpath = [{lat: <%=toTrips[i].path[ii].lat%>,lng: <%=toTrips[i].path[ii].lng%>},{lat: <%=toTrips[i].path[ii+1].lat%>,lng: <%=toTrips[i].path[ii+1].lng%>}];
                                        var marker = new google.maps.Marker({
                                            position: {lat: <%=toTrips[i].path[ii+1].lat%>,lng: <%=toTrips[i].path[ii+1].lng%>},
                                            map: <%="to"+i%>
                                        });
                                        var flightPath = new google.maps.Polyline({
                                                path: flightpath,
                                                geodesic: true,
                                                strokeColor: '#FF0000',
                                                strokeOpacity: 1.0,
                                                strokeWeight: 2
                                              });
                                              
                                              flightPath.setMap(<%="to"+i%>);
                                    <%}%>
                                <%}%>
                                <%for (i in fromTrips){%>
                                    var <%="ret"+i%> = new google.maps.Map(document.getElementById('<%="ret"+i%>'), {
                                      zoom: 3,
                                      center: iowacity,
                                      mapTypeId: 'terrain'
                                    });
                                    var marker = new google.maps.Marker({
                                      position: {lat:<%=fromTrips[0].path[0].lat%>,lng:<%=fromTrips[0].path[0].lng%>},
                                      map: <%="ret"+i%>
                                    });
                                    <%for(var ii=0; ii<fromTrips[i].path.length-1; ii++) {%>
                                        var flightpath = [{lat: <%=fromTrips[i].path[ii].lat%>,lng: <%=fromTrips[i].path[ii].lng%>},{lat: <%=fromTrips[i].path[ii+1].lat%>,lng: <%=fromTrips[i].path[ii+1].lng%>}];
                                        var marker = new google.maps.Marker({
                                            position: {lat: <%=fromTrips[i].path[ii+1].lat%>,lng: <%=fromTrips[i].path[ii+1].lng%>},
                                            map: <%="ret"+i%>
                                        });
                                        var flightPath = new google.maps.Polyline({
                                                path: flightpath,
                                                geodesic: true,
                                                strokeColor: '#FF0000',
                                                strokeOpacity: 1.0,
                                                strokeWeight: 2
                                              });
                                              
                                              flightPath.setMap(<%="ret"+i%>);
                                    <%}%>
                                <%}%>

                              }
                              </script>
                            <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCAJ1nc1IYhRTgZXigJYWFEF2AuOTZQrtA&callback=initMap">
                           
                            </script>
            </div>
        </div>
    </body>
</html>